*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color:#1F1F1F;
}

nav a.active {
  background-color: #FFFFFF;
  color: #1F1F1F !important;
  padding: 8px 15px;
  border-radius: 6px;
  font-weight: bold;
}
header{
    padding: 20px;
    background-color:  #00ADB5;
}

nav{text-align: center;}

nav a{
    margin-left: 60px;
    font-size: 18px; 
    
}

a{
    text-decoration: none;
    color: #CCCCCC;
}

h1{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #00ADB5;
}

.container{
    padding-top: 60px;
    margin-left: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.Data {
  background-color: #f9f9f9;
  color: #CCCCCC;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  width: 600px;
  height: 300px;
}

.Data{
    padding-top: 5px;
   
}


.Data h3, h4{
    padding-top: 15px;
    color:#333
}

.dis{
    font-style: italic;
    font-family: Times New Roman;
    font-weight: lighter;
}
.Data h4{
    padding-bottom: 5px;
    color:#333
}

.Data ul{
    list-style-type: disc;
    color: #cccccc;
    padding-bottom:5px;
}

.BSc h4, h3{
    padding-bottom: 20px;
    color:#333
}
li{
    padding-bottom: 20px;
    padding-top: 15px;
    margin-left: 20px;
    color: #333;
    list-style-type: none;
}

footer{
    background-color: #313030;
    padding: 20px;
    margin-top: 250px;
    color: #CCCCCC;
    text-align: center;

}